<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Detail Berita</title>
</head>
<body>
<div th:replace="generalUser.html :: nav"> </div>
<div class="container py-3">
    <div class="row text-center">
        <div class="mx-auto col-md-8">
            <h1 class="mb-4">Lihat Berita</h1>
        </div>
    </div>
    <div class="row text-center">
        <div class="mx-auto col-md-8">
            <a th:href="@{/{nik}/berita/ubah-langganan(nik=${nik})}" class="btn btn-primary">Ubah Kategori Langganan Berita</a>
        </div>
    </div>
    <div th:if="${listBerita.isEmpty()}">
        <div class="text-center"> Belum ada berita </div>
    </div>
    <div th:unless="${listBerita.isEmpty()}" class="d-flex flex-wrap justify-content-center">
        <div class="card m-2 w-25" th:each="berita : ${listBerita}" th:object="${berita}">
            <div class="card-header" th:text="*{kategori}"></div>
            <div class="card-body">
                <div class="card-block">
                    <h5 class="card-title" th:text="*{judul}"></h5>
                    <p class="card-text" th:text="${#strings.abbreviate(berita.deskripsi, 150)}">Tidak ada deskripsi</p>
                    <a th:href="@{/{nik}/berita/lihat/detail/{id}(nik=${nik}, id=*{idBerita})}" class="btn btn-primary">Lihat</a>
                </div>
            </div>
        </div>
    </div>

</div>
<div th:replace="generalUser.html :: footer"></div>
</body>
</html>