<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>List Berita</title>
</head>
<body>
<div th:replace="generalAdmin.html :: nav"> </div>
<div class="container py-3">
    <div class="row text-center">
        <div class="mx-auto col-md-8">
            <h1 class="mb-4">List Berita</h1>
        </div>
    </div>
    <div class="row">
        <div class="mx-auto col-md-8 p-3">
            <table class="table">
                <tr th:if="${listBerita.isEmpty()}">
                    <td colspan="5" class="text-center"> Belum ada berita </td>
                </tr>
                <thead th:unless="${listBerita.isEmpty()}">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">IdBerita</th>
                    <th scope="col">Judul</th>
                    <th scope="col">Waktu pembuatan</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="berita,iterator : ${listBerita}">
                    <th th:text="${iterator.count}"></th>
                    <td th:text="${berita.idBerita}"></td>
                    <td th:text="${berita.judul}"></td>
                    <td th:text="${berita.timeStamp}"></td>
                    <td><a th:href="@{'/admin/berita/delete/' + ${berita.idBerita}}" class="btn btn-outline-danger">Hapus</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div th:replace="generalAdmin.html :: footer"></div>
</body>
</html>