<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Tulis Berita</title>
</head>
<body>
<div th:replace="generalAdmin.html :: nav"> </div>
<div class="container py-3">
    <div class="row text-center">
        <div class="mx-auto col-md-8">
            <h1 class="mb-4">Tulis Berita</h1>
        </div>
    </div>
    <div class="row">
        <div class="mx-auto col-md-8 p-3">
            <form th:action="@{/admin/berita/save/}" method="POST"
                  th:object="${berita}"
                  modelAttribute="berita">
                <div class="form-group">
                    <label for="judul">Judul</label>
                    <input type="text" class="form-control" id="judul" th:field="*{judul}">
                    <div class="alert alert-warning"
                         th:if="${#fields.hasErrors('judul')}"
                         th:errors="*{judul}"></div>
                </div>
                <div class="form-group">
                    <label for="url-gambar">Gambar</label>
                    <input type="text" class="form-control" id="url-gambar"
                           th:field="*{urlGambar}"
                           placeholder="Masukkan URL gambar headline...">
                </div>
                <div class="form-group">
                    <label for="kategori">Kategori</label>
                    <select name="kategori" id="kategori" th:field="*{kategori}">
                        <option th:each="kategori : ${T(cs.ui.ac.id.vaccindo.berita.model.KategoriBerita).values()}"
                                th:value="${kategori}" th:text="${kategori}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="deskripsi">Deskripsi</label>
                    <textarea type="text" class="form-control" id="deskripsi"
                              th:field="*{deskripsi}"
                              placeholder="Isi berita"></textarea>
                    <div class="alert alert-warning"
                         th:if="${#fields.hasErrors('deskripsi')}"
                         th:errors="*{deskripsi}"></div>
                </div>
                <button type="submit" class="btn btn-outline-primary btn-block">Tulis</button>
            </form>
        </div>
    </div>
</div>
<div th:replace="generalAdmin.html :: footer"></div>
</body>
</html>