<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Detail Berita</title>
</head>
<body>
<div th:replace="generalUser.html :: nav"> </div>

<div class="container py-3">
    <div class="row text-center">
        <div class="mx-auto col-md-8">
            <h1 class="mb-4">Ubah Langganan Kategori Berita</h1>
        </div>
    </div>

    <div class="container">
        <form method="post" class="mt-5" th:action="@{/{nik}/berita/ubah-langganan(nik = ${pendaftar.nik})}">
            <h5>Kategori</h5>
            <div class="form-check">
                <label th:text="Nasional" class="mt-10"></label>
                <div class="mb-10">
                    <div class="form-check form-check-inline">
                        <input th:checked="${pendaftar.isSubbedToBeritaNasional()}" class="form-check-input"
                               type="radio" name="NasionalSubOptions" value="true">
                        <label class="form-check-label">Subscribe</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input th:checked="${!pendaftar.isSubbedToBeritaNasional()}" class="form-check-input"
                               type="radio" name="NasionalSubOptions" value="false">
                        <label class="form-check-label">Unsubscribe</label>
                    </div>
                </div>
                <label th:text="Internasional"></label>
                <div>
                    <div class="form-check form-check-inline">
                        <input th:checked="${pendaftar.isSubbedToBeritaInternasional()}" class="form-check-input"
                               type="radio" name="InternasionalSubOptions" value="true">
                        <label class="form-check-label">Subscribe</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input th:checked="${!pendaftar.isSubbedToBeritaInternasional()}" class="form-check-input"
                               type="radio" name="InternasionalSubOptions" value="false">
                        <label class="form-check-label">Unsubscribe</label>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Simpan</button>
        </form>

    </div>


</div>
<div th:replace="generalUser.html :: footer"></div>
</body>
</html>