<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>List Rumah Sakit</title>
</head>
<body>
<div th:replace="generalAdmin.html :: nav"> </div>
<div class="container py-3">
    <div class="row text-center">
        <div class="mx-auto col-md-8">
            <h1 class="mb-4">List Rumah Sakit</h1>
        </div>
    </div>
    <div class="row">
        <div class="mx-auto col-md-8 p-3">
            <table class="table">
                <tr th:if="${listHospital.isEmpty()}">
                    <td colspan="5" class="text-center"> Belum ada rumah sakit </td>
                </tr>
                <thead th:unless="${listHospital.isEmpty()}">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">ID Rumah Sakit</th>
                    <th scope="col">Nama Rumah Sakit</th>
                    <th scope="col">Alamat</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="hospital,iterator : ${listHospital}">
                    <th th:text="${iterator.count}"></th>
                    <td th:text="${hospital.idHospital}"></td>
                    <td th:text="${hospital.hospitalName}"></td>
                    <td th:text="${hospital.hospitalAddress}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div th:replace="generalAdmin.html :: footer"></div>
</body>
</html>