<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Daftar Vaksinasi</title>
</head>
<body>
<div th:replace="generalUser.html :: nav"> </div>
<div class="container py-3">
    <div class="row text-center">
        <div class="mx-auto col-md-8">
            <h1 class="mb-4">Profil</h1>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <div class="row">

            <table class="table">
                <thead>
                <tr>
                    <th scope="col"> Nama Pendaftar</th>
                    <th scope="col"> Rumah Sakit</th>
                    <th scope="col"> Tanggal Vaksinasi</th>
                    <th scope="col"> Verifikasi</th>
                </tr>
                </thead>
                <div th:each="history : ${allHistoryPendaftaran}">
                    <tbody>
                    <tr>
                        <td th:text="${history.getNamaPendaftar()}"></td>
                        <td th:text="${history.getRumahSakit()}"></td>
                        <td th:text="${history.getTanggal()}"></td>
                        <td th:text="${history.getApproved()} ? 'BERHASIL' : 'BATAL'"></td>
                    </tr>
                    </tbody>
                </div>
            </table>
        </div>
    </div>


</div>
<div th:replace="generalAdmin.html :: footer"></div>
</body>
</html>